<!-- PARTIAL för dropdown-meny -->
<!-- OBS statisk testdata just nu, ersätts med dynamisk data från databasen -->

<div class="dropdown-menu">
    <div class="dropdown-left">
        <p><strong>Se allt i kategorin Well</strong></p>
        <ul>
            <li><a href="#">Wellådor</a></li>
            <li><a href="#">Tejplådor</a></li>
            <li><a href="#">Varubrev</a></li>
            <li><a href="#">Dubbelwellådor</a></li>
            <li><a href="#">Kuvertbottenlådor</a></li>
            <li><a href="#">Snabbottenlådor</a></li>
        </ul>
    </div>
        <div class="dropdown-middle">
        <ul>
            <li><a href="#">Stansade lådor</a></li>
            <li><a href="#">Modullådor</a></li>
            <li><a href="#">Affischlådor</a></li>
            <li><a href="#">Containers, lock</a></li>
            <li><a href="#">Omslag</a></li>
            <li><a href="#">Wellskiva, svep</a></li>
        </ul>
    </div>
    <div class="dropdown-right">
        <ul>
            <li><a href="#">Flyttlådor</a></li>
            <li><a href="#">Chanér</a></li>
            <li><a href="#">Farligt gods</a></li>
            <li><a href="#">Wellkuvert</a></li>
            <li><a href="#">Kartongkuvert</a></li>
        </ul>
    </div>
</div>