/* KATEGORI-SIDA */

  .fullwidth-section {
    background: #eaeef3;
    margin-inline: calc(50% - 50vw);
    margin-block: 30px;
    overflow: hidden;
  }

  .content-container {
    width: 100%;
    max-width: 1500px;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .info-image {
    img {
      max-width: 300px;
      height: auto;
    }
  }

  .info-text {
    flex: 1;
    display: flex;
    flex-direction: column; /* staplar rubrik, text, knapp */
    justify-content: space-between;
  }

  .cta-btn {
    align-self: flex-end; /* knappen till höger */
    background: #F1942E;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;

    &:hover {
      background: #e98c1b;
    }
  }
