/* Sidspecifika regler för Categories/Products */
  .categories-images {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

    img {
      flex: 1;
      max-width: calc(50% - 5px);
      height: auto;
    }
  }

  @media (max-width: 577px) {
    .categories-images {
      flex-direction: column;
      align-items: stretch;

      img {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    main { margin: -25px auto; }
  }
